
.main-wraper{
	width: 90%;
	background-color: silver;
}

.right-bar{
	width: 50%;
	background-color: gold;
	float: right;
}

.left-bar{
	width: 50%;
	background-color: green;
	float: left;
}
/*table*/
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
.admin-chats{
	background: gold;
	width: 50%;
	border-radius: 10px;
}